.authentication-content {
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  border-radius: 5px;
}

.auth-form {
  padding: rem(50);

  @include respond(sm) { padding: 1rem; }

  .btn {
    height: 50px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .page-back {
    display: inline-block;
    margin-bottom: 15px;
  }
}
