.h200 {
  height: 200px;
}

#ab-copy {
  border-top: 1px solid #bdc3c7;
  padding: 5px 0;
}

#ab-content p {
  font-size: 1.1875rem;
  line-height: 1.75rem;
  text-align: justify;
  text-indent: 20px;
}

#ab-content img {
  display: table;
  margin: 0 auto;
}

#ab-menu {
  height: 50px;
  left: 0;
  top: 0;
  width: 100%;
}

#ab-menu #ribbon-left {
  display: none;
}

#ab-menu-wrapper {
  position: relative;
}

#ab-menu .rel {
  float: left;
  height: 50px;
  margin: 4px 0;
  perspective: 300px;
  transform-style: preserve-3d;
}

#ab-textarea-options {
  height: 550px;
  width: 100%;
}

#ab-textarea-tags {
  border: 0;
  font-family: monospace;
  font-size: 18px;
  height: 250px;
  padding: 20px;
  width: 100%;
}

.ab-dialog {
  color: #444;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 65534;
}

#ab-dialog-edit-category {
  color: #444;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  overflow-x: hidden;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999999;
}

#frm-ab-editor input {
  margin-bottom: 8px;
}

input,
select {
  border: 1px solid #BDC3C7;
  color: #444;
  font-family: monospace;
  font-size: 1.3em;
  padding: 6px 20px;
  width: 100%;
}

.ab-editor-normal {
  width: 100%;
}

.ab-editor-normal #ab-editor-content,
.ab-editor-normal #view-code {
  height: 563px;
  width: 100%;
}

.ab-editor-normal #view-code {
  border: 0;
  display: none;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.ab-editor-fullscreen {
  height: 100%;
  left: 0;
  padding-bottom: 42px;
  position: fixed;
  top: 0;
  z-index: 99;
}

.ab-editor-fullscreen #ab-editor-content,
.ab-editor-fullscreen #view-code {
  height: 100%;
  padding-bottom: 85px;
}

#ab-editor-toolbar {
  background: #203747;
  border-bottom: 1px solid #bdc3c7;
}


#ab-editor-toolbar button {
  background: #203747;
  border: 0;
  color: #eee;
  padding: 10px;
  width: 34px;
}

#ab-editor-toolbar button:first-child {
  font-weight: 700;
}

#frm-uploadimage input#file {
  border: 0;
  cursor: pointer;
  font-size: 1px;
  height: 100%;
  opacity: 0;
  outline: 0;
  outline: none;
  padding: 0;
}

#ab-editor.showsource #ab-editor-toolbar button,
#ab-editor.showsource input#file,
#ab-editor.showsource #ab-formatblock {
  opacity: .1;
  pointer-events: none;
}

#ab-formatblock {
  background: #203747;
  border: 0;
  color: #eee;
  cursor: pointer;
  font-size: 1.25em;
  outline: none;
  padding: 6px 2px;
  vertical-align: middle;
  width: 140px;
}

#ab-editor-toolbar button:hover,
#ab-formatblock:hover {
  background: #828282;
}

#ab-editor-toolbar button:active,
#ab-formatblock:active {
  background: #828282;
}

#ab-editor-ab-content {
  background: #fff;
  border: 1px solid #ddd;
  color: #444;
  height: 100%;
  outline: none;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}

#ab-code {
  position: relative;
}

#ab-dummy {
  display: none;
}

#ab-list-pages button,
#ab-list-pages a {
  height: 28px;
  letter-spacing: 0;
  margin-right: 4px;
  padding: 0;
  text-align: center;
  width: 28px;
}

#ab-list-pages .ab-tdfolder a {
  margin: 0;
}

#ab-list-pages a {
  line-height: 28px;
}

#ab-container-table {
  overflow: auto;
}

table#ab-list-pages {
  padding: 5px;
  width: 100%;
}

#alerts {
  font-size: 1.1em;
  padding: 10px 20px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 9999999;
}

#page-preloader {
  background: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

#spinner {
  height: 100px;
  left: 50%;
  margin: -50px 0 0 -50px;
  position: absolute;
  top: 50%;
  width: 100px;
}

.visible {
  opacity: 1;
  transition: opacity .4s linear;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.ab-filemanager td img {
  display: inline-block !important;
  height: 16px;
  width: auto;
}

#ab-top-action-btn button,
#ab-top-action-btn a {
  line-height: 34px;
  padding: 0;
  position: relative;
}

#ab-breadcrumb {
  line-height: 34px;
  overflow: hidden;
}

#ab-breadcrumb .ab-col7 a {
  display: inline-block;
  margin-top: 6px;
  padding: 4px;
}

#ab-breadcrumb .ab-col7 a:hover {
  background: #eee !important;
}

#ab-breadcrumb .ab-col7 a:active {
  background: #ececec !important;
}

#ab-breadcrumb .ab-col7 .fa-folder-o {
  color: #f39c12;
}

#ab-breadcrumb .ab-col7 {
  padding-left: 0;
}

#breadcrumb-links span {
  font-size: 15px;
  line-height: 45px;
}

#ab-breadcrumb .ab-col5 {
  padding: 6px 0 4px 4px;
}

#ab-top-action-btn {
  padding: 5px 0 6px;
}

#leftpanel {
  background: #f9f9f9;
  border-right: 1px solid #ddd;
  overflow: auto;
}

#fahome {
  color: #607D8B !important;
  font-size: 1.4em !important;
  margin-left: -2px;
}

td.ab-tdfolder i {
  color: #f39c12;
}

#div-uploadfile {
  color: #fff;
  height: inherit;
  line-height: 31px;
  padding: 0;
  position: relative;
  width: 100%;
}

input#file {
  border: 0;
  cursor: pointer;
  font-size: 1px;
  height: 100%;
  left: 0;
  line-height: 34px;
  margin: 0;
  opacity: 0;
  outline: 0;
  outline: none;
  pointer-events: auto;
  position: absolute;
  width: 100%;
  z-index: 2;
}

#rightcontainer {
  display: inline-block;
}

#ab-panel {
  padding: 5px;
}

#ab-panel button {
  border: 0;
  border-radius: 2px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-left: 4px;
  overflow: hidden;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  webkit-appearance: none;
  width: 30px;
}

#ab-panel select {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  height: 30px;
  line-height: 30px;
  margin-left: 4px;
  max-height: 30px;
  overflow: hidden;
  padding: 2px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  width: 100px;
}

#ab-panel select option {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  height: 30px;
  line-height: 30px;
  margin-left: 4px;
  max-height: 30px !important;
  overflow: hidden;
  padding: 2px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  width: 100px;
}

#ab-panel button.btn-hr {
  background-color: #f0f0f0;
  border-left: 1px solid #EEE;
  border-radius: 2px;
  border-right: 1px solid #BDBDBD;
  cursor: default;
  display: inline-block;
  height: 30px;
  margin-left: 3px;
  overflow: hidden;
  webkit-appearance: none;
  width: 2px;
}

#ab-panel button:hover {
  background-color: #e3e3e3;
  border-color: #ccc;
}

#ab-panel button:active {
  background-color: #ddd;
}

#ab-list-pages tr:nth-of-type(odd) {
  background: #F9F8F8;
}

#ab-list-pages tr {
  background: #fff;
}

#ab-list-pages tr:hover {
  background: #eee !important;
}

#ab-list-pages th {
  color: #3c4858;
  font-weight: 700;
  opacity: .9;
  padding: 8px;
}

#ab-list-pages td {
  border: 1px solid #bdc3c7;
  padding: 1px 2px;
  text-align: left;
}

#ab-list-pages td.ab-tdfile span {
  line-height: 18px;
  padding-left: 20px;
}

#ab-list-pages td.ab-tdfile a {
  padding-left: 20px;
}

#ab-list-pages tr td:nth-child(2) {
  white-space: nowrap;
}

#ab-pagination-pages span,
#ab-pagination-pages a {
  color: #eee;
  margin-right: 3px;
  padding: 2px 8px;
}

#ab-pagination-pages span {
  cursor: default;
}

#ab-pagination-pages {
  margin-bottom: 10px;
  padding-right: 50px;
}

label {
  font-size: 1.2em;
  font-weight: 700;
}

#ab-content h2 {
  color: #444;
  margin: 0;
}

.ab-badjes {
  background: #f44336;
  color: #fff;
  padding: 0 6px;
  position: absolute;
  right: 5px;
  text-align: center;
  top: -15px;
}

#txt-mail,
#txt-remark,
#txt-question,
#txt-answer {
  background: #fff;
  border: 1px solid #ddd;
  font-family: monospace;
  font-size: 1rem;
  height: 200px;
  padding: 15px;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  #ab-content textarea {
    width: 100%;
  }

  #ab-content h2 {
    line-height: 32px;
    margin: 5px 0;
  }

  #ab-menu #ribbon-left {
    background: #7EB78B;
    display: block;
    float: left;
    height: 90px;
    margin: 30px auto 40px;
    position: absolute;
    width: 0;
  }

  #ab-menu #ribbon-left:before {
    border: solid 45px #4289B9;
    border-left-color: transparent;
    border-right-width: 30px;
    bottom: -17px;
    content: "";
    left: -58px;
    position: absolute;
    z-index: 0;
  }

  #ab-menu #ribbon-left #rib:before {
    border-color: #33719A transparent;
    border-style: solid;
    border-width: 14px 0 0 18px;
    bottom: -18px;
    content: "";
    left: 0;
    position: absolute;
  }

  #ab-menu {
    background: none;
    display: block;
    margin: 0;
    position: relative;
    width: 100%;
  }

  #ab-menu-wrapper {
    position: relative;
  }

  #ab-menu .rel {
    float: left;
    height: 150px;
    perspective: 500px;
    transform-style: preserve-3d;
  }
}

#ab-container-table {
  padding: 10px 15px;
}

#tree {
  margin-top: 10px;
}

#tree li {
  line-height: 16px;
  margin: 6px 0;
  text-decoration: none;
}

#tree ul {
  list-style-type: none;
  margin-left: 8px;
  padding-left: 15px;
  border-left: 1px solid #E0E0E0;
}

#tree div {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  line-height: 19px;
  transition: .2s;
}

#tree li.ext-file {
  padding-left: 20px;
}

#tree li:before {
  color: #E0E0E0;
  content: "\2014";
  margin-left: -16px;
  position: absolute;
}

#tree li.ext-file:before {
  color: #E0E0E0;
  content: "\2014";
  margin-left: -36px;
  position: absolute;
}

#tree div.closed.selected {
  background: rgba(179, 229, 252, 0.54) url(images/folder.png) left top no-repeat;
}

#tree div.open.selected {
  background: rgba(179, 229, 252, 0.54) url(images/folderopen.png) left top no-repeat;
}

.closed {
  background: url(images/folder.png) left top no-repeat;
  padding-left: 18px !important;
}

.open {
  background: url(images/folderopen.png) left top no-repeat;
  padding-left: 18px !important;
}

.ext-file {
  background: url(images/file.png) left 50% no-repeat;
}

.ext-ab {
  background: url(images/ab.png) left 50% no-repeat;
}

.ext-tpl {
  background: url(images/tpl.png) left 50% no-repeat;
}

.ext-3gp,
.ext-avi,
.ext-mov,
.ext-mp4,
.ext-mpeg,
.ext-wmv {
  background: url(images/film.png) left 50% no-repeat;
}

.ext-afp,
.ext-afpa,
.ext-asp,
.ext-aspx,
.ext-c,
.ext-cfm,
.ext-cgi,
.ext-cpp,
.ext-h,
.ext-lasso,
.ext-vb,
.ext-xml {
  background: url(images/code.png) left 50% no-repeat;
}

.ext-ai {
  background: url(images/ai.png) left 50% no-repeat;
}

.ext-bat {
  background: url(images/application.png) left 50% no-repeat;
}

.ext-bmp,
.ext-gif,
.ext-jpg,
.ext-jpeg,
.ext-pcx,
.ext-png,
.ext-tif,
.ext-tiff,
.ext-ico {
  background: url(images/image.png) left 50% no-repeat;
}

.ext-com {
  background: url(images/application.png) left 50% no-repeat;
}

.ext-css {
  background: url(images/css.png) left 50% no-repeat;
}

.ext-doc,
.ext-docx {
  background: url(images/doc.png) left 50% no-repeat;
}

.ext-exe {
  background: url(images/application.png) left 50% no-repeat;
}

.ext-fla,
.ext-swf {
  background: url(images/flash.png) left 50% no-repeat;
}

.ext-htm,
.ext-html {
  background: url(images/html.png) left 50% no-repeat;
}

.ext-jar {
  background: url(images/java.png) left 50% no-repeat;
}

.ext-js,
.ext-pl,
.ext-py {
  background: url(images/js.png) left 50% no-repeat;
}

.ext-m4p,
.ext-ogg,
.ext-wav,
.ext-mp3 {
  background: url(images/music.png) left 50% no-repeat;
}

.ext-pdf {
  background: url(images/pdf.png) left 50% no-repeat;
}

.ext-php {
  background: url(images/php.png) left 50% no-repeat;
}

.ext-ppt {
  background: url(images/ppt.png) left 50% no-repeat;
}

.ext-psd {
  background: url(images/psd.png) left 50% no-repeat;
}

.ext-rb,
.ext-rbx,
.ext-rhtml,
.ext-ruby {
  background: url(images/ruby.png) left 50% no-repeat;
}

.ext-sql {
  background: url(images/db.png) left 50% no-repeat;
}

.ext-txt,
.ext-text,
.ext-log {
  background: url(images/txt.png) left 50% no-repeat;
}

/*
.ext-xls,
.ext-xlsx {
    background: url(images/xls.png) left 50% no-repeat;
}*/

.ext-zip,
.ext-7z,
.ext-rar {
  background: url(images/zip.png) left 50% no-repeat;
}

.ext-csv {
  background: url(images/csv.png) left 50% no-repeat;
  background-size: 19px;
}

.ext-xls,
.ext-xlsx {
  background: url(images/xls.png) left 50% no-repeat;
  background-size: 19px;
}

.dropzone {
  display: flex;
  height: 60px !important;
  justify-content: center;
  align-items: center;
  background: white;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  color: #505050;
  padding: 0;
}

.dropzone::after {
  content: 'Перетащите сюда файл для загрузки';
  position: absolute;
  z-index: 1;
}

.dropzone:hover {
  opacity: .8;
  transition: .3s ease-in;
}
