.content-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

[v-cloak] {
  display: none !important;
}

.pointer {
  cursor: pointer !important;
}
