.e-dropdownbase .e-list-group-item,
.e-fixed-head {
  font-size: 12px;
}

.e-small .e-dropdownbase .e-list-group-item,
.e-small .e-fixed-head,
.e-small.e-dropdownbase .e-list-group-item,
.e-small.e-fixed-head {
  font-size: 10px;
}

.e-dropdownbase .e-list-item .e-list-icon {
  padding: 0 8px 0 0;
}

.e-small .e-dropdownbase .e-list-item .e-list-icon {
  padding: 0 6px 0 0;
}

.e-dropdownbase {
  display: block;
  height: 100%;
  min-height: 36px;
  position: relative;
  width: 100%;
}
.e-dropdownbase .e-list-parent {
  margin: 0;
  padding: 0;
}

.e-dropdownbase .e-list-group-item, .e-dropdownbase .e-fixed-head {
  cursor: default;
}

.e-dropdownbase .e-list-item {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.e-dropdownbase .e-list-item .e-list-icon {
  font-size: 16px;
  vertical-align: middle;
}

.e-dropdownbase .e-fixed-head {
  position: absolute;
  top: 0;
}

.e-dropdownbase.e-content {
  overflow: auto;
  position: relative;
}

.e-popup.e-ddl .e-dropdownbase.e-nodata,
.e-popup.e-mention .e-dropdownbase.e-nodata {
  color: #212529;
  cursor: default;
  font-size: 14px;
  padding: 14px 16px;
  text-align: center;
}

.e-mention.e-popup {
  background: #fff;
  border: 0;
  -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.21);
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.21);
  margin-top: 2px;
  position: absolute;
}

.e-mention.e-popup .e-dropdownbase {
  min-height: 30px;
}

.e-mention .e-dropdownbase .e-list-item .e-highlight {
  display: inline;
  font-weight: bold;
  vertical-align: baseline;
}

.e-mention .e-mention-chip,
.e-mention .e-mention-chip:hover {
  background: #e9ecef;
  border-radius: 2px;
  border: none;
  color: #0d6efd;
  cursor: default;
}

.e-mention.e-editable-element {
  border: 2px solid #dee2e6;
  height: auto;
  min-height: 120px;
  width: 100%;
}

.e-form-mirror-div {
  white-space: pre-wrap;
}

.e-dropdownbase.e-dd-group .e-list-item {
  padding-left: 12px;
  text-indent: 0;
}

.e-small .e-dropdownbase.e-dd-group .e-list-item {
  padding-left: 8px;
}

.e-popup.e-multi-select-list-wrapper.e-multiselect-group .e-dropdownbase.e-dd-group .e-list-group-item {
  text-indent: 0;
}

.e-popup.e-multi-select-list-wrapper.e-multiselect-group .e-dropdownbase.e-dd-group .e-list-group-item {
  cursor: pointer;
  font-weight: normal;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  font-weight: 500;
}

.e-dropdownbase {
  border-color: #dee2e6;
}
.e-dropdownbase .e-list-item {
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-tap-highlight-color: transparent;
  border-bottom: 0;
  border-color: #dee2e6;
  color: #212529;
  font-size: 14px;
  line-height: 30px;
  min-height: 30px;
  padding-right: 16px;
  text-indent: 12px;
  background-color: #fff;
}

.e-dropdownbase .e-list-group-item,
.e-fixed-head {
  border-color: #dee2e6;
  color: #6c757d;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  min-height: 30px;
  padding-left: 12px;
  padding-right: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff;
}

.e-dropdownbase .e-list-item.e-active, .e-dropdownbase .e-list-item.e-active.e-hover {
  background-color: #0d6efd;
  border-color: #fff;
  color: #fff;
}

.e-dropdownbase .e-list-item.e-hover {
  background-color: #e9ecef;
  border-color: #fff;
  color: #212529;
}

.e-dropdownbase .e-list-item:last-child {
  border-bottom: 0;
}

.e-dropdownbase .e-list-item.e-item-focus {
  background-color: #e9ecef;
}

.e-dropdownbase .e-list-item.e-active:last-child {
  border-radius: 2px;
}

.e-multi-column.e-ddl.e-popup.e-popup-open table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.e-multi-column.e-ddl.e-popup.e-popup-open th,
.e-multi-column.e-ddl.e-popup.e-popup-open td {
  display: table-cell;
  overflow: hidden;
  padding-right: 16px;
  text-indent: 10px;
  text-overflow: ellipsis;
}

.e-multi-column.e-ddl.e-popup.e-popup-open th {
  line-height: 36px;
  text-align: left;
}

.e-multi-column.e-ddl.e-popup.e-popup-open .e-ddl-header {
  background-color: #fff;
  border-color: #dee2e6;
  border-style: solid;
  border-width: 0 0 1px 0;
  color: #6c757d;
  font-size: 14px;
  font-weight: 500;
  text-indent: 10px;
}

.e-multi-column.e-ddl.e-popup.e-popup-open .e-dropdownbase .e-list-item {
  padding-right: 0;
}

.e-multi-column.e-ddl.e-popup.e-popup-open.e-scroller .e-ddl-header {
  padding-right: 16px;
}

.e-multi-column.e-ddl.e-popup.e-popup-open .e-ddl-header,
.e-multi-column.e-ddl.e-popup.e-popup-open.e-ddl-device .e-ddl-header {
  padding-right: 0;
}

.e-multi-column.e-ddl.e-popup.e-popup-open .e-text-center {
  text-align: center;
}

.e-multi-column.e-ddl.e-popup.e-popup-open .e-text-right {
  text-align: right;
}

.e-multi-column.e-ddl.e-popup.e-popup-open .e-text-left {
  text-align: left;
}

.e-small .e-dropdownbase .e-list-item,
.e-dropdownbase.e-small .e-list-item {
  color: #212529;
  line-height: 26px;
  min-height: 26px;
  text-indent: 8px;
}

.e-small .e-dropdownbase .e-list-group-item, .e-small .e-dropdownbase .e-fixed-head,
.e-dropdownbase.e-small .e-list-group-item,
.e-dropdownbase.e-small .e-fixed-head {
  font-size: 10px;
  line-height: 26px;
  min-height: 26px;
  padding-left: 8px;
}

.e-small .e-dropdownbase .e-list-item .e-list-icon,
.e-dropdownbase.e-small .e-list-item .e-list-icon {
  font-size: 14px;
}

.e-ddl.e-popup.e-multiselect-group .e-list-group-item {
  background-color: #fff;
  border-bottom: 0;
  border-color: #dee2e6;
  text-indent: 12px;
  color: #6c757d;
  font-size: 14px;
  padding-right: 16px;
}

.e-ddl.e-popup.e-multiselect-group .e-list-group-item.e-item-focus {
  background-color: #e9ecef;
}

.e-ddl.e-popup.e-multiselect-group .e-list-group-item.e-active,
.e-ddl.e-popup.e-multiselect-group .e-list-group-item.e-active.e-hover {
  background-color: #0d6efd;
  border-color: #fff;
  color: #fff;
}

.e-ddl.e-popup.e-multiselect-group .e-list-group-item.e-hover {
  background-color: #e9ecef;
  border-color: #fff;
  color: #212529;
}

.e-selectall-parent.e-item-focus {
  background-color: #e9ecef;
}

/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable-line no-empty-source */
/* stylelint-disable property-no-vendor-prefix */
@-webkit-keyframes material-spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes material-spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fabric-spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes fabric-spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.e-popup.e-ddl {
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 3px;
}
.e-popup.e-ddl .e-input-group {
  width: auto;
}
.e-popup.e-ddl .e-input-group input {
  line-height: 15px;
}

.e-input-group {
  border-style: solid;
  border-width: 1px;
}

.e-popup.e-ddl .e-dropdownbase {
  min-height: 26px;
}

.e-popup.e-ddl .e-filter-parent .e-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.e-popup.e-ddl .e-filter-parent .e-input-group .e-back-icon {
  border: 0;
}

.e-input-group.e-control-wrapper.e-ddl .e-input[readonly],
.e-float-input.e-control-wrapper.e-ddl input[readonly] {
  background: transparent;
}

.e-input-group.e-control-wrapper.e-ddl.e-readonly .e-input[readonly],
.e-float-input.e-control-wrapper.e-ddl.e-readonly input[readonly] {
  background: #e9ecef;
}

.e-input-group:not(.e-disabled) .e-control.e-dropdownlist ~ .e-ddl-icon:active,
.e-input-group:not(.e-disabled) .e-control.e-dropdownlist ~ .e-ddl-icon:hover,
.e-control.e-dropdownlist .e-input-group:not(.e-disabled) .e-ddl-icon:active,
.e-control.e-dropdownlist .e-input-group:not(.e-disabled) .e-ddl-icon:hover,
.e-ddl.e-popup .e-input-group:not(.e-disabled) .e-clear-icon:active,
.e-ddl.e-popup .e-input-group:not(.e-disabled) .e-clear-icon:hover,
.e-ddl.e-popup .e-input-group:not(.e-disabled) .e-back-icon:active,
.e-ddl.e-popup .e-input-group:not(.e-disabled) .e-back-icon:hover {
  background: transparent;
  color: #6c757d;
}

.e-input-group.e-ddl .e-input[readonly] ~ span.e-input-group-icon.e-ddl-icon,
.e-input-group.e-control-wrapper.e-ddl .e-input[readonly] ~ span.e-input-group-icon.e-ddl-icon,
.e-float-input.e-ddl input[readonly] ~ span.e-input-group-icon.e-ddl-icon,
.e-float-input.e-control-wrapper.e-ddl input[readonly] ~ span.e-input-group-icon.e-ddl-icon {
  background: transparent;
  color: #6c757d;
}

.e-input-group.e-ddl.e-readonly .e-input[readonly] ~ span.e-input-group-icon.e-ddl-icon.e-search-icon,
.e-input-group.e-control-wrapper.e-readonly .e-input[readonly] ~ span.e-input-group-icon.e-ddl-icon.e-search-icon,
.e-float-input.e-ddl.e-readonly .e-input[readonly] ~ span.e-input-group-icon.e-ddl-icon.e-search-icon,
.e-float-input.e-control-wrapper.e-ddl.e-readonly .e-input[readonly] ~ span.e-input-group-icon.e-ddl-icon.e-search-icon {
  background: #e9ecef;
}

.e-input-group:not(.e-disabled) .e-control.e-dropdownlist ~ .e-ddl-icon,
.e-input-group.e-disabled.e-ddl .e-control.e-dropdownlist ~ .e-input-group-icon,
.e-control.e-dropdownlist .e-input-group.e-disabled.e-ddl .e-input-group-icon,
.e-control.e-dropdownlist .e-input-group.e-ddl .e-input-group-icon {
  border: 0;
}

.e-input-group:not(.e-disabled) .e-control.e-dropdownlist ~ .e-input-group-icon:active,
.e-control.e-dropdownlist .e-input-group:not(.e-disabled) .e-input-group-icon:active,
.e-ddl.e-popup .e-input-group:not(.e-disabled) .e-back-icon:active,
.e-ddl.e-popup .e-input-group:not(.e-disabled) .e-clear-icon:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.e-ddl.e-popup .e-input-group:not(.e-disabled) .e-clear-icon {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.e-ddl.e-popup .e-filter-parent .e-input-group,
.e-ddl.e-popup .e-filter-parent {
  background: #fff;
}

.e-input-group .e-control.e-dropdownlist ~ .e-ddl-icon {
  font-size: 14px;
}

.e-popup.e-wide-popup.e-ddl-device.e-popup-close {
  display: block;
  visibility: hidden;
}

.e-popup-full-page {
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  right: 0;
  top: 0;
}
.e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
  margin: 0;
}

.e-ddl.e-control-wrapper .e-ddl-disable-icon {
  position: relative;
}

.e-ddl.e-control-wrapper .e-ddl-disable-icon::before {
  content: "";
}

.e-ddl.e-control-wrapper.e-input-group .e-ddl-icon.e-ddl-disable-icon {
  position: relative;
}

.e-ddl.e-control-wrapper.e-input-group .e-ddl-icon.e-ddl-disable-icon::before {
  content: "";
}

.e-ddl-device-filter .e-filter-parent {
  background-color: #fff;
}

/* stylelint-disable property-no-vendor-prefix */
.e-ddl input.e-input::-webkit-contacts-auto-fill-button {
  display: none;
  pointer-events: none;
  position: absolute;
  right: 0;
  visibility: hidden;
}

/* stylelint-enable property-no-vendor-prefix */
.e-filter-parent {
  border: 0;
  border-top-width: 0;
  -webkit-box-shadow: 0 1.5px 5px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1.5px 5px -2px rgba(0, 0, 0, 0.3);
  display: block;
  padding: 5px;
}

.e-ddl.e-input-group:not(.e-disabled) {
  cursor: pointer;
}

.e-ddl.e-popup.e-ddl-device-filter .e-input-group.e-input-focus::before, .e-ddl.e-popup.e-ddl-device-filter .e-input-group.e-input-focus::after {
  width: 0;
}

.e-ddl.e-popup {
  background: #fff;
  border: 1px solid #dee2e6;
  position: absolute;
}
.e-ddl.e-popup .e-search-icon {
  margin: 0;
  opacity: 0.57;
  padding: 12px 8px 8px;
}

.e-ddl.e-popup .e-filter-parent .e-back-icon {
  padding: 0 8px;
}

.e-ddl.e-popup .e-input-group {
  margin-bottom: 0;
}

.e-ddl.e-popup .e-ddl-footer, .e-ddl.e-popup .e-ddl-header {
  cursor: default;
}

/* stylelint-disable property-no-vendor-prefix */
.e-ddl.e-input-group .e-ddl-hidden,
.e-ddl.e-float-input .e-ddl-hidden {
  -webkit-appearance: initial;
  border: 0;
  height: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}

.e-ddl.e-input-group,
.e-ddl.e-input-group.e-input-focus:focus {
  outline: none;
}

.e-dropdownbase .e-list-item .e-highlight {
  display: inline;
  font-weight: bold;
  vertical-align: baseline;
}

.e-ddl.e-input-group input[readonly] ~ .e-clear-icon:not(.e-clear-icon-hide),
.e-float-input input[readonly] ~ .e-clear-icon:not(.e-clear-icon-hide),
.e-float-input.e-input-group input[readonly] ~ .e-clear-icon:not(.e-clear-icon-hide) {
  opacity: 1;
}

.e-dropdownlist.e-input:not(:valid):first-child ~ .e-clear-icon,
.e-input-group input.e-dropdownlist.e-input:not(:valid):first-child ~ .e-clear-icon,
.e-input-group.e-control-wrapper input.e-dropdownlist.e-input:not(:valid):first-child ~ .e-clear-icon,
.e-float-input input.e-dropdownlist:not(:valid):first-child ~ .e-clear-icon,
.e-float-input.e-control-wrapper input.e-dropdownlist:not(:valid):first-child ~ .e-clear-icon,
.e-float-input.e-input-group input.e-dropdownlist:not(:valid):first-child ~ .e-clear-icon,
.e-float-input.e-input-group.e-control-wrapper input.e-dropdownlist:not(:valid):first-child ~ .e-clear-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.e-dropdownlist.e-input:not(:valid):first-child ~ .e-clear-icon.e-clear-icon-hide,
.e-input-group input.e-dropdownlist.e-input:not(:valid):first-child ~ .e-clear-icon.e-clear-icon-hide,
.e-input-group.e-control-wrapper input.e-dropdownlist.e-input:not(:valid):first-child ~ .e-clear-icon.e-clear-icon-hide,
.e-float-input input.e-dropdownlist:not(:valid):first-child ~ .e-clear-icon.e-clear-icon-hide,
.e-float-input.e-control-wrapper input.e-dropdownlist:not(:valid):first-child ~ .e-clear-icon.e-clear-icon-hide,
.e-float-input.e-input-group input.e-dropdownlist:not(:valid):first-child ~ .e-clear-icon.e-clear-icon-hide,
.e-float-input.e-input-group.e-control-wrapper input.e-dropdownlist:not(:valid):first-child ~ .e-clear-icon.e-clear-icon-hide {
  display: none;
}

.e-input-group.e-static-clear input.e-dropdownlist.e-input:not(:valid):first-child ~ .e-clear-icon.e-clear-icon-hide,
.e-input-group.e-static-clear.e-control-wrapper input.e-dropdownlist.e-input:not(:valid):first-child ~ .e-clear-icon.e-clear-icon-hide,
.e-float-input.e-static-clear input.e-dropdownlist:not(:valid):first-child ~ .e-clear-icon.e-clear-icon-hide,
.e-float-input.e-static-clear.e-control-wrapper input.e-dropdownlist:not(:valid):first-child ~ .e-clear-icon.e-clear-icon-hide,
.e-float-input.e-static-clear.e-input-group input.e-dropdownlist:not(:valid):first-child ~ .e-clear-icon.e-clear-icon-hide,
.e-float-input.e-static-clear.e-input-group.e-control-wrapper input.e-dropdownlist:not(:valid):first-child ~ .e-clear-icon.e-clear-icon-hide {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.e-ddl.e-input-group .e-input-value,
.e-ddl.e-input-group .e-input-value:focus {
  font-family: inherit;
  font-size: 14px;
  height: auto;
  margin: 0;
  outline: none;
  width: 100%;
  overflow: hidden;
}
.e-ddl.e-input-group input[readonly].e-input,
.e-ddl.e-input-group input[readonly],
.e-ddl.e-input-group .e-dropdownlist {
  pointer-events: none;
}

.e-data-form .e-ddl.e-input-group.e-control-container input[readonly].e-input.e-dropdownlist {
  cursor: pointer;
  pointer-events: auto;
}

.e-ddl.e-popup.e-popup-open .e-list-item.e-disabled {
  opacity: 0.7;
  pointer-events: none;
}

ejs-autocomplete,
ejs-combobox,
ejs-dropdownlist {
  display: block;
}

.e-small .e-ddl.e-popup .e-list-item,
.e-input-group.e-ddl.e-small .e-list-item {
  font-size: 12px;
}
.e-small .e-ddl.e-popup .e-list-group-item,
.e-input-group.e-ddl.e-small .e-list-group-item {
  font-size: 12px;
}

.e-small.e-ddl.e-popup .e-list-item,
.e-input-group.e-ddl.e-small .e-list-item {
  font-size: 12px;
}
.e-small.e-ddl.e-popup .e-list-group-item,
.e-input-group.e-ddl.e-small .e-list-group-item {
  font-size: 12px;
}

.e-content-placeholder.e-ddl.e-placeholder-ddl,
.e-content-placeholder.e-autocomplete.e-placeholder-autocomplete,
.e-content-placeholder.e-combobox.e-placeholder-combobox {
  background-size: 300px 33px;
  min-height: 33px;
}

.e-ddl.e-popup.e-resize .e-resizer-right {
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
  height: 15px;
  position: absolute;
  width: 15px;
}

.e-ddl.e-input-group:not(.e-disabled):active:not(.e-success):not(.e-warning):not(.e-error),
.e-ddl.e-input-group.e-control-wrapper:not(.e-disabled):active:not(.e-success):not(.e-warning):not(.e-error) {
  border-color: #ced4da;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.e-popup {
  border-color: #dee2e6;
}

.e-float-input.e-input-group.e-ddl.e-control.e-icon-anim > .e-float-text,
.e-float-input.e-input-focus.e-input-group.e-ddl.e-control.e-keyboard > .e-float-text {
  color: #fff;
}

.e-ddl.e-popup .e-filter-parent .e-input-group input.e-input-filter {
  border-color: transparent;
  background: none;
}

/*! TreeView's bootstrap5 theme wise override definitions and variables */
/* stylelint-disable */
/* stylelint-disable */

.e-ddt {
  cursor: pointer;
  outline: none;
}
.e-ddt .e-ddt-icon::before {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}
.e-ddt.e-icon-anim .e-ddt-icon::before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}
.e-ddt .e-ddt-hidden {
  border: 0;
  height: 0;
  visibility: hidden;
  width: 0;
}
.e-ddt.e-input-group.e-control-wrapper .e-clear-icon, .e-ddt.e-float-input.e-control-wrapper .e-clear-icon {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.e-ddt.e-input-group.e-control-wrapper .e-input-group-icon.e-ddt-icon, .e-ddt.e-float-input.e-control-wrapper .e-input-group-icon.e-ddt-icon {
  border: 0;
  font-size: 20px;
}
.e-ddt.e-input-group.e-control-wrapper .e-icon-hide, .e-ddt.e-float-input.e-control-wrapper .e-icon-hide {
  display: none;
}
.e-ddt.e-input-group.e-control-wrapper.e-show-chip .e-clear-icon, .e-ddt.e-input-group.e-control-wrapper.e-show-text .e-clear-icon, .e-ddt.e-float-input.e-control-wrapper.e-show-chip .e-clear-icon, .e-ddt.e-float-input.e-control-wrapper.e-show-text .e-clear-icon {
  bottom: 8px;
  position: absolute;
  right: 0;
}
.e-ddt.e-input-group.e-control-wrapper.e-show-chip.e-show-dd-icon .e-clear-icon, .e-ddt.e-input-group.e-control-wrapper.e-show-text.e-show-dd-icon .e-clear-icon, .e-ddt.e-float-input.e-control-wrapper.e-show-chip.e-show-dd-icon .e-clear-icon, .e-ddt.e-float-input.e-control-wrapper.e-show-text.e-show-dd-icon .e-clear-icon {
  right: 30px;
}
.e-ddt.e-input-group.e-control-wrapper.e-show-chip .e-ddt-icon, .e-ddt.e-input-group.e-control-wrapper.e-show-text .e-ddt-icon, .e-ddt.e-float-input.e-control-wrapper.e-show-chip .e-ddt-icon, .e-ddt.e-float-input.e-control-wrapper.e-show-text .e-ddt-icon {
  bottom: 0;
  position: absolute;
  right: 0;
}
.e-ddt.e-input-group.e-control-wrapper.e-show-chip.e-input-focus input.e-dropdowntree.e-chip-input,
.e-ddt.e-input-group.e-control-wrapper.e-show-chip input.e-dropdowntree.e-chip-input, .e-ddt.e-input-group.e-control-wrapper.e-show-text.e-input-focus input.e-dropdowntree.e-chip-input,
.e-ddt.e-input-group.e-control-wrapper.e-show-text input.e-dropdowntree.e-chip-input, .e-ddt.e-float-input.e-control-wrapper.e-show-chip.e-input-focus input.e-dropdowntree.e-chip-input,
.e-ddt.e-float-input.e-control-wrapper.e-show-chip input.e-dropdowntree.e-chip-input, .e-ddt.e-float-input.e-control-wrapper.e-show-text.e-input-focus input.e-dropdowntree.e-chip-input,
.e-ddt.e-float-input.e-control-wrapper.e-show-text input.e-dropdowntree.e-chip-input {
  padding-left: 0;
  padding-right: 0;
}
.e-ddt.e-input-group.e-control-wrapper.e-valid-input:hover:not(.e-disabled) .e-clear-icon, .e-ddt.e-float-input.e-control-wrapper.e-valid-input:hover:not(.e-disabled) .e-clear-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.e-ddt .e-chips-wrapper {
  width: 100%;
}
.e-ddt.e-show-chip .e-chips-close {
  min-height: 16px;
  min-width: 16px;
  text-align: center;
}
.e-ddt.e-show-chip .e-chips-close::before {
  font-size: 10px;
}
.e-ddt.e-show-chip .e-chips {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: left;
  height: 24px;
  margin: 3px 4px;
  max-width: calc(100% - 2px);
  overflow: hidden;
  padding: 0 8px 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.e-ddt.e-show-chip .e-chips > .e-chipcontent {
  max-width: 100%;
  overflow: hidden;
  padding: 0 4px 0 0;
  text-indent: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.e-ddt .e-overflow {
  white-space: nowrap;
}
.e-ddt .e-overflow.e-show-text {
  padding: 0 8px;
  line-height: 30px;
}
.e-ddt .e-overflow.e-show-text.e-input-value:not(.e-icon-hide) {
  display: inline-grid;
}
.e-ddt .e-overflow.e-total-count {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.e-ddt .e-overflow.e-total-count .e-remain {
  line-height: 30px;
}
.e-ddt .e-overflow .e-remain {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 0 0 0 8px;
}
.e-ddt .e-overflow .e-remain.e-wrap-count {
  padding: 5px 4px;
}
.e-ddt.e-show-chip .e-overflow.e-total-count .e-remain {
  padding: 0 8px;
}
.e-ddt.e-show-dd-icon .e-chips-wrapper .e-chips:last-child {
  margin-right: 30px;
  max-width: calc(100% - 31px);
}
.e-ddt.e-show-clear .e-chips-wrapper .e-chips:last-child {
  margin-right: 20px;
  max-width: calc(100% - 31px);
}
.e-ddt.e-show-clear.e-show-dd-icon .e-chips-wrapper .e-chips:last-child {
  margin-right: 48px;
  max-width: calc(100% - 62px);
}
.e-ddt input[readonly],
.e-ddt .e-dropdowntree,
.e-ddt input[readonly].e-input {
  pointer-events: none;
}
.e-ddt input[readonly].e-chip-input,
.e-ddt .e-dropdowntree.e-chip-input,
.e-ddt input[readonly].e-input.e-chip-input {
  width: 0;
  visibility: hidden;
}
.e-ddt.e-popup {
  border: 1px solid #dee2e6;
  margin-top: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
}
.e-ddt.e-popup .e-active .e-checkbox-wrapper .e-frame:not(.e-check):not(.e-stop) {
  background-color: #fff;
}
.e-ddt.e-popup .e-checkbox-wrapper .e-frame:not(.e-check):not(.e-stop) {
  background-color: transparent;
}
.e-ddt.e-popup .e-selectall-parent {
  border-bottom: 1px solid;
  cursor: pointer;
  display: block;
  line-height: 34px;
  overflow: hidden;
  position: relative;
  text-indent: 32px;
  white-space: nowrap;
  width: 100%;
  padding: 0 8px;
}
.e-ddt.e-popup .e-selectall-parent.e-hide-selectall {
  display: none;
}
.e-ddt.e-popup .e-selectall-parent .e-checkbox-wrapper {
  position: relative;
  text-indent: 0;
  bottom: 0;
}
.e-ddt.e-popup .e-selectall-parent .e-checkbox-wrapper .e-frame {
  margin-top: -3px;
}
.e-ddt.e-popup .e-selectall-parent .e-all-text {
  font-family: inherit;
  font-size: 14px;
  margin: 0 8px;
}
.e-ddt.e-popup .e-filter-wrap {
  border-top-width: 0;
  display: block;
  padding: 4px;
  border: 1px solid #dee2e6;
}
.e-ddt.e-popup .e-filter-wrap .e-input-group {
  margin-bottom: 0;
}
.e-ddt.e-popup .e-popup-content {
  overflow: auto;
  position: relative;
}
.e-ddt.e-popup .e-popup-content .e-ddt-nodata {
  display: none;
}
.e-ddt.e-popup .e-popup-content.e-no-data {
  cursor: default;
  font-family: inherit;
  font-size: 14px;
  text-align: center;
  padding: 7px 16px;
}
.e-ddt.e-popup .e-popup-content.e-no-data .e-treeview {
  display: none;
}
.e-ddt.e-popup .e-popup-content.e-no-data .e-ddt-nodata {
  display: block;
  line-height: 22px;
}
.e-ddt.e-popup .e-treeview {
  display: inline-table;
  width: 100%;
}
.e-ddt.e-popup .e-treeview .e-list-item {
  padding: 0;
}
.e-ddt.e-popup .e-treeview .e-list-item .e-ul {
  margin: 0;
  padding: 0 0 0 14px;
}
.e-ddt.e-popup .e-treeview > .e-ul {
  overflow: hidden;
  padding: 6px 8px;
}
.e-ddt.e-popup .e-ddt-footer,
.e-ddt.e-popup .e-ddt-header {
  cursor: default;
}

.e-ddt.e-float-input.e-control-wrapper.e-input-group .e-float-text.e-label-top {
  top: 15px;
}

.e-ddt-icon-hide {
  display: none;
}

.e-ddt .e-chips {
  background-color: #6c757d;
}
.e-ddt .e-chips .e-chips-close::before {
  color: #fff;
}
.e-ddt .e-chips > .e-chipcontent {
  color: #fff;
}
.e-ddt .e-overflow .e-remain {
  color: #6c757d;
}
.e-ddt.e-input-group.e-control-wrapper .e-input[readonly], .e-ddt.e-float-input.e-control-wrapper input[readonly] {
  background: #fff;
}
.e-ddt.e-input-group.e-control-wrapper .e-input[readonly] ~ span.e-input-group-icon.e-ddt-icon, .e-ddt.e-float-input.e-control-wrapper input[readonly] ~ span.e-input-group-icon.e-ddt-icon {
  background: transparent;
  color: #6c757d;
}
.e-ddt.e-input-group.e-control-wrapper .e-input[readonly] ~ span.e-clear-icon, .e-ddt.e-float-input.e-control-wrapper input[readonly] ~ span.e-clear-icon {
  background: transparent;
}
.e-ddt.e-popup {
  background: #fff;
  border-color: #dee2e6;
}
.e-ddt.e-popup .e-popup-content.e-no-data {
  color: #212529;
}
.e-ddt.e-popup .e-selectall-parent {
  border-bottom-color: #dee2e6;
}
.e-ddt.e-popup .e-selectall-parent:focus {
  background: #e9ecef;
}
.e-ddt.e-popup .e-selectall-parent .e-all-text {
  color: #212529;
}
