////////////////////
// Horizontal Nav
////////////////////
@media (min-width: 1199px) {
  [data-layout="horizontal"] {

    .nav-header {
      width: 9.0625rem;

      .nav-control {
        display: none;
      }

      .brand-logo {
        padding-left: 0;
        justify-content: center;
      }
    }

    .header {
      width: 100%;
      padding-left: 9.0625rem;
    }

    .content-body {
      margin-left: 0;

      .page-titles {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1.875rem;
      }
    }

    .footer {
      margin: 0 auto;
      padding-left: 0;
    }

    .sidebar-right {
      z-index: 1;
    }
  }

  [data-header-position="fixed"][data-layout="horizontal"][data-sidebar-position="fixed"] {
    .content-body {
      padding-top: 8.3rem;
    }
  }

  [data-layout="horizontal"][data-container="boxed"] {
    .footer {
      max-width: 1199px;
      margin: 0 auto;
    }
  }

  [data-layout="horizontal"][data-container="wide"] {
    .page-titles {
      margin-left: -30px;
      margin-right: -30px;
    }
  }

  [data-layout="horizontal"][data-sidebar-style="compact"] {
    .page-titles {
      margin-top: 0;
    }
  }

  [data-sidebar-style="mini"][data-layout="horizontal"] {
    .nav-header {
      width: 3.75rem;
    }

    .header {
      width: 100%;
      padding-left: 3.75rem;
    }

    .metismenu {
      & > li {
        &:hover {
          a {
            width: auto;

            .nav-text {
              display: none;
            }
          }
        }
      }
    }
  }

  [data-header-position="fixed"][data-layout="horizontal"][data-sidebar-position="fixed"][data-sidebar-style="compact"] {
    .content-body {
      padding-top: 8.75rem;
    }
  }
}
