[data-sidebar-style="overlay"] {

  .content-body {
    margin-left: 0;
  }

  .nav-header {
    position: absolute;

    .hamburger.is-active {
      left: 0;

      .line {
        background-color: $primary;
      }
    }
  }

  .menu-toggle {
    .nav-header {
      position: absolute;
      left: auto;
    }
  }

  .footer {
    padding-left: 0;
  }
}

[data-sidebar-style="overlay"][data-header-position="fixed"] {
  .nav-header {
    position: fixed;
  }
}

[data-sidebar-position="fixed"][data-header-position="fixed"] {
  .nav-header {
    position: fixed;
  }
}
