[data-sidebar-position="fixed"][data-layout="vertical"] {
  .nav-header {
    position: fixed;
  }

  .sidebar {
    position: fixed;
    /*.sidebar-scroll {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }*/
  }

  /*.menu-toggle {
    .sidebar {
      position: absolute;
    }
  }*/
}

/*[data-header-position="fixed"][data-sidebar-position="fixed"][data-sidebar-style="overlay"][data-layout="vertical"][data-container="boxed"] {
  .sidebar {
    position: absolute;
  }
}*/


