[data-sidebar-style="full"][data-layout="vertical"] {
  .menu-toggle {
    .nav-header {
      width: 3.75rem;
      z-index: 999;

      .brand-logo {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
      }

      .nav-control {
        .hamburger {
          .line {
            background-color: $primary !important;;
          }
        }
      }
    }

    .header {
      padding-left: 3.75rem;
      width: 100%;
      @at-root [direction="rtl"]#{&} {
        padding: 0 0.9375rem;
        padding-right: 3.75rem;
      }
    }

    .content-body {
      margin-left: 3.75rem;
      @at-root [direction="rtl"]#{&} {
        margin-right: 3.75rem;
        margin-left: auto;
      }
    }

    & + .footer {
      padding-left: 3.75rem;
      @at-root [direction="rtl"]#{&} {
        padding-left: 0;
        padding-right: 3.75rem;
      }
    }
  }
}
