////////////////
// Compact Nav
////////////////

@media (min-width: 767px) {
  [data-sidebar-style="compact"] {
    .nav-text {
      display: block;
      margin-top: 0.3125rem;
    }

    .nav-label {
      &.first {
        display: none;
      }
    }

    .nav-badge {
      display: none;
    }

    .footer {
      padding-left: 9.375rem;
    }

    .content-body {
      margin-left: 9.375rem;
    }
  }
}
