@include customMedia($min: 768px) {

    [data-sidebar-style="mini"] {

      .nav-header {
        width: 3.75rem;

        .nav-control {
          z-index: -1;

          .hamburger {
            left: 3.75rem !important;

            .line {
              background-color: $dark !important;;
            }
          }
        }

        .brand-title {
          display: none;
        }

        .hamburger {
          display: none;
        }
      }


      .content-body {
        margin-left: 3.75rem;
      }

      .footer {
        padding-left: 3.75rem;
      }


    }

    [data-sidebar-style="mini"][data-header-position="fixed"][data-container="boxed"][data-layout="vertical"] {
        .header {
            width: 1199px;
        }
    }

}
