[data-theme-version="dark"] {
  background: $d-bg;
  color: $d-ctl;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white !important;
  }

  a.link {
    color: $d-ctd;
  }

  a.link:focus,
  a.link:hover {
    color: $info;
  }

  a {
    color: $white;

    &:hover {
      color: $d-ctl;
    }
  }


  //Generating border classess
  @each $value in $borders {
    @if $value == "" {
      .border {
        border: 1px solid $d-border !important;
      }
    } @else {
      .border-#{$value} {
        border-#{$value}: 1px solid $d-border !important;
      }
    }
  }
}

[data-theme-version="dark"] {
  .dropdown-menu {
    background-color: $dark-card;
  }

  .dropdown-item {
    &:hover, &:focus {
      background-color: $d-bg;
      color: $white;
    }
  }

  .form-control {
    background-color: $d-bg;
    border-color: $d-border;
    color: $white;
  }

  .card {
    background-color: $dark-card;
  }
}

[data-theme-version="dark"] {
  .header {
    background-color: $primary;
  }

  .header-left {
    input {
      border-color: transparent;
      color: $white;

      &:focus {
        box-shadow: none;
        border-color: $primary;
      }

      &::placeholder {
        color: $white;
      }
    }
  }

  .header-right {
    .dropdown .nav-link:hover {
      color: $white;
    }

    .notification_dropdown .dropdown-item a {
      color: $white;
    }
  }
}

[data-theme-version="dark"] {
  .nav-header,
  .nav-control {
    background-color: $primary;
  }

  .nav-control {
    color: $white;
  }

  .brand-logo {
    color: $white;

    &:hover {
      color: $white;
    }
  }
}

[data-theme-version="dark"] {
  .sidebar-right {
    background-color: lighten($d-bg, 3.2%);

    .nav-tabs {
      background-color: lighten($d-bg, 3.2%);
      border-bottom: 1px solid $d-bg;

      .nav-link {
        &.active {
          background-color: $d-bg;
        }
      }
    }
  }
}

[data-theme-version="dark"] {
  .footer {
    background-color: transparent;

    .copyright {
      background-color: transparent;

      p {
        color: $white;
      }
    }
  }
}
