//customize bootstrap
$white:    #fff !default;
$primary:  #0d6efd !default;

// Light Version Color
$l-theme-sidebar-color: #343957;

// Dark Version Color
$d-bg: #2A2C32;

// Material Colors
$gray: #898989;

//utility variables
$radius: 5px;

$theme-header-height: 3rem;
$theme-sidebar-width: 17rem;
$theme-sidebar-width-compact: 3.5rem;
$theme-footer-height: 3rem;
