//customize bootstrap
//$ignore-warning             : true;

// Custom class not bootstrap
$fn:'HelveticaNeue'; // fn = font normal
$fm:'HelveticaNeueMed'; // fm = font Medium

$strong: #646c9a;
$border: #eaeaea;
$shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);

// Dark Version Color
$d-ctd: #ddd;
$d-ctl: #828690;
$d-border: #424D63;
$d-bg: #2A2C32;
$dark-card: #323A4B;
$dark_bg_lighter: #1E2A4A;
$d-theme-sidebar-color: $dark_bg_lighter;

  // Light Version Color
$l-ctd: #464a53;
$l-ctl: #828690;
$l-border: #eaeaea;
$l-bg: #F7FAFC;
$heading: #333;
$l-theme-sidebar-color: #343957;


  // Material Colors
$dusty-gray: #999999;
$gallery: #eeeeee;
$gray: #898989;
$input-border-color: $border;

// Social Colors
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #FF0000;
$google-plus: #db4439;
$linkedin: #007bb6;
$instagram: #c32aa3;
$pinterest: #bd081c;
$google: #4285f4;
$snapchat: #fffc00;
$whatsapp: #25d366;
$tumblr: #35465d;
$reddit: #ff4500;
$spotify: #1ed760;
$yahoo: #430297;
$dribbble: #ea4c89;
$skype: #00aff0;
$quora: #aa2200;
$riverBed: #4C585C;
$vimeo: #1ab7ea;

// Misc Colors
$iron: #dddfe1;
$grey: #d2d6de;
$pale-sky: #6a707e;
$athensGray: #f0f0f2;
$sky: #2290FF;

//color for coller pallate
$color_palate_1: $white;
$color_palate_2: #292B48;
$color_palate_3: $primary;
$color_palate_4: #4527a0;
$color_palate_5: #c62828;
$color_palate_6: #283593;
$color_palate_7: #1565c0;
$color_palate_8: #0277bd;
$color_palate_9: #00838f;
$color_palate_10: #558b2f;

//utility variables
$radius: 5px;

$theme-header-height: 3rem;
$theme-sidebar-width: 17rem;
$theme-footer-height: 3rem;
