.comment {
  position: relative;
  display: flex;
  justify-content: center;

  .content-wrapper {
    position: absolute;
    display: flex;
    justify-content: start;
    top: -7px;
    left: 60px;
    width: 40vw;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  &__content {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    background-color: #6563FF;
    color: #fff;
  }

  &__icon {
    width: 25px;
    height: 25px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZGF0YS1uYW1lPSJMYXllciAxIiBpZD0iTGF5ZXJfMSIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMiwyQTEwLDEwLDAsMSwwLDIyLDEyLDEwLjAxMTE0LDEwLjAxMTE0LDAsMCwwLDEyLDJabTAsMThhOCw4LDAsMSwxLDgtOEE4LjAwOTE3LDguMDA5MTcsMCwwLDEsMTIsMjBabTAtOC41YTEsMSwwLDAsMC0xLDF2M2ExLDEsMCwwLDAsMiwwdi0zQTEsMSwwLDAsMCwxMiwxMS41Wm0wLTRhMS4yNSwxLjI1LDAsMSwwLDEuMjUsMS4yNUExLjI1LDEuMjUsMCwwLDAsMTIsNy41WiIgZmlsbD0iIzY1NjNmZiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    opacity: .5;
    transition: opacity .3s ease-in-out;
  }
}

td:has(.comment) {
  cursor: pointer;

  &:hover {
    & .content-wrapper,
    & .comment__icon {
      visibility: visible;
      opacity: 1;
    }
  }
}
