$white: #fff !default;
$gray: #808080 !default;
$loading-color: $white !default;
$loading-color-light: $gray !default;

$loaderSmall: 10px !default;
$loaderMedium: 16px !default;
$loaderBig: 30px !default;

.loading-st1-sm,
.loading-st1,
.loading-st1-big {
  position: relative !important;

  &-sm:after,
  &:after,
  &-big:after {
    content:       " ";
    display:       inline-block;
    position:      absolute;
    left:          50%;
    top:           50%;
    width:         $loaderMedium;
    height:        $loaderMedium;
    background:    #ffffff2b;
    border-radius: 50%;
    border-style:  solid;
    border-width:  3px;
    border-color:  $loading-color transparent $loading-color transparent;
    box-shadow:    0 0 20px 0 #ffffff78;
    animation:     lds-dual-ring 1.2s linear infinite;
  }

  &-sm:after {
    left:          50%;
    top:           50%;
    width:         10px;
    height:        10px;
  }

  &-big:after {
    left:          50%;
    top:           50%;
    width:         $loaderBig;
    height:        $loaderBig;
  }


  &.loading-st1-light:after {
    border-color:  $loading-color-light transparent $loading-color-light transparent;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
