$pr: 'vs_';

@media only screen and (min-width: 40em) {
  .#{$pr}modal-overlay {
    display: none;
    /*align-items: center;
    justify-content: center;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 2rem;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.6);
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: 200;

    &.#{$pr}active {
      display: flex;
      opacity: 1;
    }
  }
}

.#{$pr}modal {
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;*/
  margin: auto;
  background-color: #fff;
  min-width: 30rem;
  max-width: 80vw;
  /*min-height: 20rem;*/
  padding: 1.5rem;
  border-radius: 0.1rem;
  opacity: 0;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  backface-visibility: hidden;
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);

  &.#{$pr}active {
    opacity: 1;
    transform: scale(1);

    .#{$pr}modal-content {
      opacity: 1;
    }

    .#{$pr}modal-close {
      transform: translateY(0);
      opacity: 1;
    }
  }

  & &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    width: 100%;
  }

  & &-title {
    font-size: 1.7rem;
    font-weight: 600;
  }

  & &-close {
    border: none;
    background: transparent;
    backface-visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1), transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    cursor: pointer;

    .#{$pr}close-icon {
      font-size: 1.8rem;
      font-weight: bold;
      width: 25px;
      height: 25px;
      background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNSAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxsaW5lIHgxPSIxLjI5Mjg5IiB5MT0iMjQuMjkyOSIgeDI9IjI0LjI5MjkiIHkyPSIxLjI5Mjg5IiBzdHJva2U9IiNDM0M2QzgiIHN0cm9rZS13aWR0aD0iMiIvPg0KPGxpbmUgeTE9Ii0xIiB4Mj0iMzIuNTI2OSIgeTI9Ii0xIiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcxMDcgLTAuNzA3MTA3IC0wLjcwNzEwNyAwLjcwNzEwNyAyMyAyNSkiIHN0cm9rZT0iI0MzQzZDOCIgc3Ryb2tlLXdpZHRoPSIyIi8+DQo8L3N2Zz4NCg==) no-repeat;
      transform: scale(.8);
      transition: scale .5s linear;
      cursor: pointer;

      &:hover {
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNSAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxsaW5lIHgxPSIxLjI5Mjg5IiB5MT0iMjQuMjkyOSIgeDI9IjI0LjI5MjkiIHkyPSIxLjI5Mjg5IiBzdHJva2U9IiM5RjNBM0EiIHN0cm9rZS13aWR0aD0iMiIvPg0KPGxpbmUgeTE9Ii0xIiB4Mj0iMzIuNTI2OSIgeTI9Ii0xIiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcxMDcgLTAuNzA3MTA3IC0wLjcwNzEwNyAwLjcwNzEwNyAyMyAyNSkiIHN0cm9rZT0iIzlGM0EzQSIgc3Ryb2tlLXdpZHRoPSIyIi8+DQo8L3N2Zz4NCg==) no-repeat;
      }
    }

    svg {
      width: 1.75em;
      height: 1.75em;
    }
  }

  & &-content {
    margin-top: 1rem;
    min-height: 160px;
    width: 100%;
    /*max-height: 80vh;
    overflow-y: auto;*/
    opacity: 0;
    backface-visibility: hidden;
  }

  & &-footer {
    display: flex;
    column-gap: 1rem;
    justify-content: space-around;
    bottom: 1rem;
  }
}

/**
 * Mobile styling
 */
@media only screen and (max-width: 39.9375em) {
  .#{$pr}modal-overlay {
    align-items: center;
    justify-content: center;
  }

  .#{$pr}modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 80vw;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;

    &.#{$pr}active {
      z-index: 200;
    }

    & &-footer {
      position: fixed;
      left: 1rem;
      right: 1rem;

      > * {
        flex-basis: 50%;
      }
    }
  }

  .#{$pr}close-modal {
    right: 20px !important;
  }
}
