.container-content {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: $theme-header-height;
  transition: all .2s ease;

  /*@include customMedia($min: 1200px, $max: 1350px) {
    margin-left: 14.375rem;
  }*/
}

.content-body {
  width: calc(100% - var(--theme-sidebar-width));
  z-index: 1;

  @include respond(tab) {
    width: 100%;
  }
}

[data-theme-version="dark"] {
  background: $d-bg;

  .container-content .content-body {
    filter: invert(1);
  }
}
