$body-bg: rgba(88,115,254,.04) !default;
$theme-footer-height: 3rem !default;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 0 0 var(--theme-sidebar-width);
  width: 100%;
  background-color: $body-bg;
  height: $theme-footer-height;

  @include respond() {
    padding: 0;
  }
}
