/*[data-sidebar-style="overlay"] {
  @include respond('phone-land') {
    .nav-header .logo-abbr {
      display: block;
    }
  }
}*/

.nav-header {
  height: $theme-header-height;
  width: $theme-sidebar-width;
  display: inline-block;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #343957;
  transition: all .2s ease;
  z-index: 4;

  @include customMedia($min: 800px, $max: 1350px) {
    width: $theme-sidebar-width * 0.75;
  }
  @include customMedia($min: 350px, $max: 800px) {
    width: 100%;
  }

  .brand-logo {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.125rem;
    color: $white;
    text-decoration: none;
    padding-left: 1.25rem;
    font-weight: 700;

    [data-sidebar-style="compact"] &,
    [data-sidebar-style="mini"] & {
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
    }

    @include respond('phone-land') {
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
    }
  }

  .brand-title {
    margin-left: 15px;
    max-width: 75px;
    // &::first-letter{
    //     background: $white;
    //     color: $primary;
    //     padding: 1px 10px;
    //     margin-right: 5px;
    //     border-radius: 3px;
    // }
    @at-root [data-theme-version="dark"] & {
      background-position: 0 120%;
    }
  }
}

@include respond('phone-land') {
  .nav-header {
    .brand-title {
      display: none;
    }
  }
}

.nav-control {
  cursor: pointer;
  position: absolute;
  right: -4.0625rem;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  font-size: 1.4rem;
  padding: 2px 0.5rem 0;
  border-radius: 2px;
  @include respond('phone-land') {
    right: -3rem;
  }
  @include respond('phone') {
    right: -2.5rem;
  }
}

@media (min-width: 767px) {
  [data-sidebar-style="compact"] {
    .nav-control {
      display: none;
    }

    .nav-header {
      width: 9.375rem;
    }
  }
}

[data-sidebar-style="full"][data-layout="vertical"] {
  .menu-toggle {
    .brand-title {
      display: none;
    }

    .nav-header {
      .logo-abbr {
        display: block;
      }
    }
  }
}

[data-sidebar-style="full"][data-layout="horizontal"] {
  .nav-header {
    .logo-abbr {
      display: none;
    }
  }
}

[data-sidebar-style="mini"] {
  .nav-header {
    .logo-abbr {
      display: block;
    }
  }
}

[data-sidebar-style="compact"] {
  .nav-header {
    .brand-title {
      display: none;
    }

  }
}

[data-sidebar-style="modern"][data-layout="vertical"] {
  .nav-header {
    width: 9.375rem;
    .brand-title {
      display: none;
    }
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: $theme-header-height;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 0 0 0 $theme-sidebar-width;
  transition: all .2s ease;
  // &::before {
  //     content: "";
  //     height: 168px;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     position: absolute;
  //     z-index: 997;
  //     background: rgba(116, 104, 240,0.85)
  // }


  .header-content {
    height: 100%;
    padding-left: 5.5rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    // box-shadow: $shadow;
    // @include respond('desktop') {
    //     padding-left: 15px;
    //     padding-right:15px;
    //     max-width: 1140px;
    //     margin: 0 auto;
    // }
    // @include respond('tab-land') {
    //     padding-left: 15px;
    //     padding-right:15px;
    //     max-width: 960px;
    //     margin: 0 auto;
    // }
    // @include respond('tab-port') {
    //     padding-left: 15px;
    //     padding-right:15px;
    //     max-width: 720px;
    //     margin: 0 auto;
    // }
    // @include respond('phone-land') {
    //     padding-left: 60px;
    //     padding-right:15px;
    // }
    @include customMedia($max: 575px) {
      padding-left: 2.375rem;
    }
  }
}

.menu-toggle {
  .nav-text,
  .nav-label {
    display: none;
  }

  .nav-item {
    padding: 0.8125rem;
  }

  .sidebar,
  .nav-header {
    width: 3.5rem;
  }

  .header {
    padding: 0 0 0 3.5rem;
  }

  .sidebar-menu {
    align-items: center;
  }
}

[data-sidebar-style="full"],
[data-sidebar-style="overlay"] {
  .header {
    width: 100%;
    @include customMedia($min: 1200px, $max: 1350px) {
      width: 100%;
      padding-left: 14.375rem;
    }
    @include respond('phone-land') {
      width: 100%;
      padding-left: 3.75rem;
    }
  }
}

[data-sidebar-style="mini"] {
  .header {
    width: 100%;
    padding-left: 3.75rem;
  }
}

[data-sidebar-style="compact"] {
  .header {
    width: 100%;
    padding-left: 9.375rem;
  }
}

[data-sidebar-style="modern"] {
  .header {
    width: 100%;
    padding-left: 9.375rem;
  }
}

[data-header-position="fixed"] {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .content-body {
    padding-top: 7rem;
  }

  .quixnav {
    margin-top: 0;
  }
}

[data-sidebar-style="compact"][data-header-position="fixed"][data-container="boxed"][data-layout="vertical"] {
  .header {
    width: 1199px;
  }
}

[data-sidebar-style="modern"] {
  .header {
    .header-content {
      padding-left: 15px;

      .navbar {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;
      }
    }
  }
}




